<%= image_tag "https://oatmel.s3.amazonaws.com/mailer/logo.png", style: "width:150px;display:block;margin-left:auto;margin-right:auto;margin-bottom:40px;" %>
<p>
<%= OPENERS.sample %> <%= @user.first_name %>,
<br />
<br />
The new product of the week: <strong><%= @product.name %></strong>
<br />
<%= link_to "View product", "#{ENV['ROOT_PATH']}products/#{@product.pretty_slug}" %>
<br />
<br />
<%= CLOSERS.sample %>
<br />
<br />
-Team Oatmel
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%= link_to "Notification Settings", "#{ENV['ROOT_PATH']}notification_settings/#{@user.slug}" %>
</p>