<% if !(@play) %>
	<%
	meta :title => "Community | Oatmel",
	     :description => "Oatmel community is for discussing your healthy food life with others.",
	     :keywords => ["oatmel", "oatmal", "food forum", "trader joes forum", "whole foods forum", "trader joes reviews", "whole foods reviews"]
	%>
<% end %>
<%= render 'posts/post_search' %>
<div class="clearfix"></div>
<div class="oatmeal_container">
	<div class="row">
		<div class="col-md-8">
			<div class="show_on_mobile">
				<h3>Top Contributors</h3>
				<%= render 'posts/top_contributors_mobile' %>
				<br />
				<br />
				<br />
			</div>
			<% if "#{params[:query]}".size < 1 && @picks.size == 1 %>
				<h3><i class="fas fa-medal"></i> Post of the week</h3>
				<%= render @picks %>
			<% end %>

			<% if "#{params[:query]}".size > 1 %>
				<h3>Posts</h3>
			<% else %>
				<h3>Recent Posts</h3>
			<% end %>
			<div id="praises-scroll3">
				<%= render @posts %>
			</div>
			<div style='display:none;'>
				<%= pagy_bootstrap_nav(@pagy).html_safe %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="show_on_desktop">
				<h3>Top Contributors</h3>
				<%= render 'posts/top_contributors' %>
			</div>
		</div>
	</div>
</div>
<% if "#{params[:query]}".size > 0 %>
<script>
  let url = '<%= current_page_path %>'
  history.replaceState({ turbolinks: { restorationIdentifier: '<%= SecureRandom.uuid %>' } }, '', url)
  sessionStorage.setItem('<%= last_page_fetched_key %>', url);
</script>
<% end %>
<% if "#{params[:query]}".size == 0 %>
	<%= clear_session_storage_when_fresh_unpaginated_listing_loaded %>
<% end %>
<script>
function param(name) {
    return (location.search.split(name + '=')[1] || '').split('&')[0];
}
function search_param(name, url) {
    return (url.split(name + '=')[1] || '').split('&')[0];
}
var prev_page = "1";
$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() > $(document).height() - 450) {
       var url;
      url = $(".next").find("a[rel='next']").attr('href');
      if (url) {
        if (search_param('page', url) !== param('page')) {
          if (prev_page !== param('page')) {
            prev_page = param('page');
              return $.getScript(url);
          }
        }
      }
    return $(window).scroll();
   }
});
</script>